.footer_box {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 0.49rem;
  bottom: 0;
  background-color: white;
}
.footer_box ul {
  box-shadow: 0px -1px 0px #e9ebed;
  background-color: #ffffff;
  display: flex;
  height: 100%;
}
.footer_box ul :nth-child(1) a:before {
  background-image: url("../images/footImg/footIcon_11r.png");
  content: "";
  background-size: 0.25rem 0.25rem;
  background-repeat: repeat;
  width: 0.25rem;
  height: 0.25rem;
  z-index: 100;
  left: 50%;
  margin-left: -0.125rem;
  top: 0.05rem;
  position: absolute;
}
.footer_box ul :nth-child(2) a:before {
  background-image: url("../images/footImg/footIcon_06.png");
  content: "";
  background-size: 0.25rem 0.25rem;
  background-repeat: repeat;
  width: 0.25rem;
  height: 0.25rem;
  z-index: 100;
  left: 50%;
  margin-left: -0.125rem;
  top: 0.05rem;
  position: absolute;
}
.footer_box ul :nth-child(3) a:before {
  background-image: url("../images/footImg/footIcon_08r.png");
  content: "";
  background-size: 0.25rem 0.25rem;
  background-repeat: repeat;
  width: 0.25rem;
  height: 0.25rem;
  z-index: 100;
  left: 50%;
  margin-left: -0.125rem;
  top: 0.05rem;
  position: absolute;
}
.footer_box ul :nth-child(4) a:before {
  background-image: url("../images/footImg/footIcon_03r.png");
  content: "";
  background-size: 0.25rem 0.25rem;
  background-repeat: repeat;
  width: 0.25rem;
  height: 0.25rem;
  z-index: 100;
  left: 50%;
  margin-left: -0.125rem;
  top: 0.05rem;
  position: absolute;
}
.footer_box ul li {
  position: relative;
  text-align: center;
  flex: 1;
  line-height: 0.8rem;
  width: 25%;
  height: 100%;
}
.footer_box ul li a {
  font-size: 0.12rem;
  display: block;
}
.infHead {
  width: 100%;
  height: 0.44rem;
  position: relative;
  background-color: #ffffff;
}
.infHead .ingBack {
  position: absolute;
  width: 0.44rem;
  height: 100%;
  z-index: 99;
  line-height: 0.44rem;
  text-align: center;
}
.infHead .ingBack a {
  display: block;
}
.infHead .ingBack a img {
  width: 0.16rem;
}
.infHead .infTitle {
  text-align: center;
  line-height: 0.44rem;
}
.infHead .infTitle span {
  font-size: 0.18rem;
}
.assort_box .home_title {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 0.44rem;
  overflow: hidden;
  background-color: #fc5459;
}
.assort_box .home_title .t_left {
  position: relative;
  height: 100%;
  color: white;
  width: 0.44rem;
  display: inline-block;
  float: left;
  line-height: 0.65rem;
  text-align: center;
  font-size: 0.11rem;
}
.assort_box .home_title .t_left a {
  color: #ffffff;
}
.assort_box .home_title .t_left a:before {
  content: "";
  background: url("../images/index_icon_03.png") no-repeat;
  background-size: 0.2rem 0.16rem;
  width: 0.2rem;
  height: 0.16rem;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-top: -0.12rem;
  margin-left: -0.1rem;
}
.assort_box .home_title .t_center {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: #fc5459;
  box-sizing: padding-box;
}
.assort_box .home_title .t_center .inp {
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  margin-top: 0.055rem;
  height: 0.32rem;
  border-radius: 0.3rem;
}
.assort_box .home_title .t_center .inp input {
  border: 0;
  font-size: 0.14rem;
  margin-left: 0.15rem;
  height: 100%;
  width: 76%;
  float: left;
}
.assort_box .home_title .t_center .inp .in_btn {
  text-align: center;
  font-size: 0.15rem;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  line-height: 0.2rem;
  background-color: gainsboro;
  position: absolute;
  top: 50%;
  margin-top: -0.1rem;
  margin-left: 0.1rem;
  right: 0.2rem;
}
.assort_box .home_title .t_center .inp .in_btn a {
  color: white;
  display: block;
}
.assort_box .home_title .t_right {
  position: relative;
  color: white;
  height: 100%;
  width: 0.44rem;
  display: inline-block;
  float: right;
  line-height: 0.65rem;
  text-align: center;
  font-size: 0.11rem;
}
.assort_box .home_title .t_right a {
  color: #ffffff;
}
.assort_box .home_title .t_right a:before {
  content: "";
  background: url("../images/index_icon_05.png") no-repeat;
  background-size: 0.2rem 0.16rem;
  width: 0.2rem;
  height: 0.16rem;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-top: -0.12rem;
  margin-left: -0.1rem;
}
.assort_box .contaniner {
  margin-top: 0.45rem;
}
.assort_box .contaniner .assort {
  width: 30%;
  float: left;
}
.assort_box .contaniner .assort ul {
  width: 100%;
}
.assort_box .contaniner .assort ul li {
  width: 92%;
  background-color: #f5f5f5;
  padding: 12% 2%;
}
.assort_box .contaniner .assort ul li span {
  font-size: 0.14rem;
  color: #666;
  text-align: center;
  display: block;
}
.assort_box .contaniner .assort ul .active {
  background-color: #ffffff;
}
.assort_box .contaniner .assort-cont {
  width: 65%;
  margin: 2%;
  float: right;
  margin-top: 0.2rem;
}
.assort_box .contaniner .assort-cont img {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.assort_box .contaniner .assort-cont dl {
  width: 100%;
  overflow: hidden;
  display: none;
}
.assort_box .contaniner .assort-cont .current {
  display: block;
}
.assort_box .contaniner .assort-cont dl dt {
  font-size: 0.12rem;
  color: #999;
  margin-bottom: 3%;
}
.assort_box .contaniner .assort-cont dl dd {
  width: 30%;
  float: left;
  margin-bottom: 10%;
}
.assort_box .contaniner .assort-cont dl dd a {
  width: 100%;
  display: block;
}
.assort_box .contaniner .assort-cont dl dd p {
  text-align: center;
  color: #666;
  font-size: 0.14rem;
}
.assort_box .contaniner .assort-cont dl dd {
  margin-right: 3%;
}
.search_index {
  background-color: #f3f2f2;
  position: relative;
}
.search_index .search_title {
  width: 100%;
  height: 0.44rem;
  overflow: hidden;
  background-color: #fc5459;
}
.search_index .search_title .t_left {
  position: relative;
  height: 100%;
  color: white;
  width: 0.44rem;
  display: inline-block;
  float: left;
  line-height: 0.65rem;
  text-align: center;
  font-size: 0.11rem;
}
.search_index .search_title .t_left a {
  color: #ffffff;
}
.search_index .search_title .t_left a:before {
  content: "";
  background: url("../images/iBack_03 -w.png") no-repeat;
  background-size: 0.16rem 0.11rem;
  width: 0.16rem;
  height: 0.11rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.055rem;
  margin-left: -0.08rem;
}
.search_index .search_title .t_center {
  width: 2.8rem;
  height: 100%;
  margin-left: 0.03rem;
  float: left;
  background-color: #fc5459;
  display: inline-block;
  box-sizing: padding-box;
}
.search_index .search_title .t_center .inp {
  position: relative;
  background-color: white;
  width: 100%;
  margin-top: 0.055rem;
  height: 0.32rem;
  border-radius: 0.3rem;
}
.search_index .search_title .t_center .inp input {
  border: 0;
  font-size: 0.14rem;
  margin-left: 0.15rem;
  height: 100%;
  width: 76%;
  float: left;
}
.search_index .search_title .t_center .inp .in_btn {
  text-align: center;
  font-size: 0.15rem;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  line-height: 0.2rem;
  background-color: gainsboro;
  position: absolute;
  top: 50%;
  margin-top: -0.1rem;
  margin-left: 0.1rem;
  right: 0.2rem;
}
.search_index .search_title .t_center .inp .in_btn a {
  color: white;
  display: block;
}
.search_index .search_title .t_right {
  position: relative;
  color: white;
  height: 100%;
  width: 0.44rem;
  display: inline-block;
  float: right;
  line-height: 0.44rem;
  text-align: center;
  font-size: 0.15rem;
}
.search_index .search_title .t_right a {
  color: #ffffff;
}
.search_index .container {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0.02rem;
  margin-bottom: 0.49rem;
  background-color: #fff;
}
.Category_box {
  position: relative;
  min-height: 6.67rem;
}
.Category_box .goTop {
  background: url("../images/top.png");
  background-size: 100%;
  z-index: 99;
  width: 0.3rem;
  height: 0.5rem;
  position: fixed;
  bottom: 0.3rem;
  right: 0.2rem;
}
.Category_box .fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.Category_box .he_class {
  width: 100%;
  background-color: #fff;
}
.Category_box .he_class ul {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
}
.Category_box .he_class ul li {
  width: 33%;
  display: inline-block;
  text-align: center;
  float: left;
}
.Category_box .he_class ul li a {
  line-height: 0.36rem;
  font-size: 0.14rem;
  color: #707070;
  display: block;
}
.Category_box .he_class ul li.active a {
  color: #fc5459;
}
.Category_box .he_content ul {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  overflow: hidden;
}
.Category_box .he_content ul li:nth-child(odd) {
  float: left;
}
.Category_box .he_content ul li:nth-child(even) {
  float: right;
}
.Category_box .he_content ul li {
  background-color: #ffffff;
  width: 1.85rem;
  display: inline-block;
  margin: 1% 0;
}
.Category_box .he_content ul li a {
  display: block;
  background-color: #fff;
}
.Category_box .he_content ul li a .list_img {
  width: 1.85rem;
  height: 1.85rem;
}
.Category_box .he_content ul li a .list_img img {
  width: 100%;
  height: 100%;
}
.Category_box .he_content ul li a .list_title {
  margin-top: 0.05rem;
  position: relative;
  height: 0.4rem;
  padding: 0  .5em;
}
.Category_box .he_content ul li a .list_title p {
  padding-top: 0.3em;
  color: #444444;
  font-size: 0.14rem;
  position: absolute;
  line-height: 1.2em;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical;
  /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2;
  /** 显示的行数 **/
}
.Category_box .he_content ul li a .list_txt {
  padding: 0 0.5em;
  line-height: 0.3rem;
}
.Category_box .he_content ul li a .list_txt span {
  border-radius: 3rem;
  padding: 0rem 0.05rem;
  font-size: 0.05rem;
}
.Category_box .he_content ul li a .list_txt span:nth-child(odd) {
  color: #fe0100;
  border: 0.01rem solid #fe0100;
}
.Category_box .he_content ul li a .list_txt span:nth-child(even) {
  color: #ff9902;
  border: 0.01rem solid #ff9902;
  margin-left: 0.05rem;
}
.Category_box .he_content ul li a .list_txt .ticket {
  padding: 0;
  margin-top: 0.05rem;
  line-height: 0.2rem;
  background-color: #fff;
  float: right;
  display: inline-block;
  height: 0.2rem;
}
.Category_box .he_content ul li a .list_txt .ticket .ticket-price {
  line-height: 0.2rem;
  text-align: center;
  font-size: 0.12rem;
  float: left;
  display: inline-block;
  width: 0.4rem;
  height: 0.2rem;
  border-top: 0.01rem solid #ff0000;
  border-bottom: 0.01rem solid #ff0000;
  border-left: 0.01rem solid #ff0000;
  border-bottom-left-radius: 0.04rem;
  border-top-left-radius: 0.04rem;
  color: #ff0000;
}
.Category_box .he_content ul li a .list_txt .ticket .ticket-name {
  font-size: 0.12rem;
  text-align: center;
  float: left;
  display: inline-block;
  width: 0.4rem;
  height: 0.2rem;
  background: radial-gradient(circle at 50% 50%, #ffffff 0, #ffffff 50%, transparent 0), radial-gradient(circle at 50% 50%, #ffffff 0, #ffffff 50%, transparent 0);
  background-color: #ff0000;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: -0.08rem 0.025rem, 0.32rem 0.025rem;
  background-size: 0.16rem 0.16rem;
}
.Category_box .he_content ul li a .list_price {
  padding: 0 .5em;
}
.Category_box .he_content ul li a .list_price p {
  color: #fe0100;
  font-size: 0.12rem;
  line-height: 0.25rem;
}
.Category_box .he_content ul li a .list_price p span:first-child {
  font-size: 0.16rem;
}
.Category_box .he_content ul li a .list_price p span:last-child {
  font-size: 0.14rem;
  text-decoration-line: line-through;
  color: #c2c2c2;
}
