@charset "utf-8";
body,html{width:100%; height:100%; font-size:12px;margin: 0;padding:0;background-color: #f8f9fc;color: #596278;font-family: Microsoft YaHei,Arial,Verdana,sans-serif,Segoe UI,Tahoma;}
div,form,img,ul,ol,li,dl,dt,dd,option,td,th,video{margin:0;padding:0;border:0;list-style:none outside none;}
h1,h2,h3,h4,h5,h6,p,span,blockquote,input,select,textarea{font-weight: normal; margin:0;padding:0;font-family: Microsoft YaHei,Arial,Verdana,sans-serif,Segoe UI,Tahoma;}
input,select,option,textarea{outline: none;font-family: Microsoft YaHei,Arial,Verdana,sans-serif,Segoe UI,Tahoma;}
button{ outline: none; cursor:pointer; }
b{font-weight: normal;}
table{border-collapse:collapse;border-spacing:0;border:0;}
select{font-size:12px;color:#333;}
textarea{border:#d5d5d5 1px solid;font-size:12px;}
em{font-style:normal;}
a{text-decoration:none;color: #596278;}
a:hover{text-decoration:none!important;cursor:pointer;}
tr th,td{font-weight: normal;}
input{-webkit-appearance:none;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none;}
i{ font-style: normal; }
.floatLeft{float: left;}
.floatRight{float: right;}
.w{ width: 1170px; margin: 0 auto; }
ul{ margin: 0; padding: 0; }
p{ margin: 0; padding: 0; }
label{ margin: 0; padding: 0; }

a:focus, a:hover{ text-decoration: none!important; }
.green{
    color: green;
}
.red{
    color: red;
}
 /*媒体查询*/

@media screen and (max-width: 320px)  {html {font-size: 85px;}}
@media screen and (min-width: 360px)  {html {font-size: 96px;}}
@media screen and (min-width: 375px)  {html {font-size: 100px;}}
@media screen and (min-width: 384px)  {html {font-size: 103px;}}
@media screen and (min-width: 412px)  {html {font-size: 110px;}}
@media screen and (min-width: 600px)  {html {font-size: 160px;}}
@media screen and (min-width: 640px)  {html {font-size: 171px;}}
@media screen and (min-width: 768px)  {html {font-size: 205px;}}
@media screen and (min-width: 800px)  {html {font-size: 214px;}}
@media screen and (min-width: 1024px) {html {font-size: 274px;}}
@media screen and (min-width: 1280px) {html {font-size: 450px;}}
@media screen and (min-width: 1440px) {html {font-size: 507px;}}
@media screen and (min-width: 1600px) {html {font-size: 428px;}}